---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Jonathon Hackbarth">
  <div class="min-h-screen bg-gray-50">
    <NavBar />
    <main class="bg-gray-50 w-full mx-auto">
      <section class="w-full mx-auto px-4 sm:px-6 lg:px-8">
        <Hero />
      </section>

      <div class="bg-gray-300 w-full mx-auto px-4 sm:px-6 lg:px-8">
        <Projects />
      </div>
    </main>
  </div>
</Layout>
